<%= display_meta_tags site: 'Studio Carney Architecture | Portfolio' %>

<div class="container-fluid body-design">
  <div class="row">
    <div class="design-background">
      <%= image_tag "town.jpg" %>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-muted">Portfolio</h1>
        <p class="lead">Studio Carney Architecture is passionate about helping our Clients achieve their vision. Our firm is based on the principal that each project begins with the vision of the Client. Our goal is to take your vision and apply our imagination and technical experience to help translate that into a built environment. We believe each project should be a collaborative effort and work to include the Client in the design process.</p>
      </div>
    </div>
    <br>
    <br>
    <hr>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="design-image">
        <div class="col-md-6">
          <div data-toggle="modal" data-target="#myModal" data-local="#myCarousel">
            <%= image_tag("lake_house/ElevB_2.jpg", {class: "showme"}) %>
          </div>
        </div>
        <div class="col-md-6 design-title">
          <h1 class="text-muted">Rein-visioning a lake house on Long Lake - Coming soon</h1>
          <p class="lead">We're currently working with a Husband and Wife team to rejuvenate their lake home on the shores of Long Lake. We're opening up walls allowing for unobstructed views of the lake. We're also redesigning the second floor so they, their children and grandchildren can comfortably use the home for many years to come. We look forward to working with the family develop a life long playhouse for the family to enjoy! </p>
          <div class="row">
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal" data-local="#myCarousel">
                <%= image_tag("lake_house/ElevB_1.jpg", {class: "showme"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal" data-local="#myCarousel">
                <%= image_tag("lake_house/LAKEHOUSE MAIN", {class: "showme"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal" data-local="#myCarousel">
                <%= image_tag("lake_house/LAKEHOUSE upper", {class: "showme"}) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="design-image">
        <div class="col-md-6">
          <div data-toggle="modal" data-target="#myModal1" data-local="#myCarousel1">
            <%= image_tag("reitan_consulting/design-service-reitan architects.jpg", {class: "showme1"}) %>
          </div>
        </div>
        <div class="col-md-6 design-title">
          <h1 class="text-muted">Design Services with Developer and Reitan Architects, LLC</h1>
          <p class="lead">“We worked to design this project in collaboration with Developer and Reitan Architects, LLC. The mixed used project is located in the northwest suburbs of Chicago and contains over 150 luxury apartments, over 15,000 square feet of commercial retail and restaurant space, an outdoor public plaza and an expansive rooftop garden for the residents.  This project is still in the preliminary phases of entitlement and as more information becomes available, we’ll update our site.”</p>
          <div class="row">
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal1" data-local="#myCarousel1">
                <%= image_tag("reitan_consulting/design-service-reitan architects.jpg", {class: "showme1"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal1" data-local="#myCarousel1">
                <%= image_tag("reitan_consulting/LZ7.jpg", {class: "showme1"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal1" data-local="#myCarousel1">
                <%= image_tag("reitan_consulting/LZ6.jpg", {class: "showme1"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal1" data-local="#myCarousel1">
                <%= image_tag("reitan_consulting/LZ3.jpg", {class: "showme1"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal1" data-local="#myCarousel1">
                <%= image_tag("reitan_consulting/LZ1.jpg", {class: "showme1"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal1" data-local="#myCarousel1">
                <%= image_tag("reitan_consulting/LZ4.jpg", {class: "showme1"}) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="design-image">
        <div class="col-md-6">
          <div data-toggle="modal" data-target="#myModal2" data-local="#myCarousel2">
            <%= image_tag("two_story_sing_family_home/3_4_Wilmette.jpg", {class: "showme2"}) %>
          </div>
        </div>
        <div class="col-md-6 design-title">
          <h1 class="text-muted">Two-Story, Single Family Home</h1>
          <p class="lead">We were approached by the home owners of a home built in 1916 in Wilmette, IL. The Owners were looking to replicate the open plan feeling of their loft style condo in Chicago. We proposed opening up 3 of the walls to allow for the space to flow naturally around the first floor. The kitchen will be renovated during the second phase of the project and will almost double in size, while providing an “Entertaining” style layout.<br><br>The project team has come together to help the Owner's begin the process of achieving their vision!</p>
          <div class="row">
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal2" data-local="#myCarousel2">
                <%= image_tag("two_story_sing_family_home/1_1_Wilmette.jpg", {class: "showme2"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal2" data-local="#myCarousel2">
                <%= image_tag("two_story_sing_family_home/1_2_Wilmette.jpg", {class: "showme2"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal2" data-local="#myCarousel2">
                <%= image_tag("two_story_sing_family_home/1_3_Wilmette.jpg", {class: "showme2"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal2" data-local="#myCarousel2">
                <%= image_tag("two_story_sing_family_home/1_6_Wilmette.jpg", {class: "showme2"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal2" data-local="#myCarousel2">
                <%= image_tag("two_story_sing_family_home/3_1_Wilmette.jpg", {class: "showme2"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal2" data-local="#myCarousel2">
                <%= image_tag("two_story_sing_family_home/3_2_Wilmette.jpg", {class: "showme2"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal2" data-local="#myCarousel2">
                <%= image_tag("two_story_sing_family_home/3_3_Wilmette.jpg", {class: "showme2"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal2" data-local="#myCarousel2">
                <%= image_tag("two_story_sing_family_home/3_4_Wilmette.jpg", {class: "showme2"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal2" data-local="#myCarousel2">
                <%= image_tag("two_story_sing_family_home/3_6_Wilmette.jpg", {class: "showme2"}) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="design-image">
        <div class="col-md-6">
          <div data-toggle="modal" data-target="#myModal3" data-local="#myCarousel3">
            <%= image_tag("master_bathroom_walk_in_closet/fro3.jpg", {class: "showme3"}) %>
          </div>
        </div>
        <div class="col-md-6 design-title">
          <h1 class="text-muted">Master Suite with Bathroom and Walk in Closet</h1>
          <p class="lead">I was lucky to have had Mike recommended when I was talking about my wish to add a master suite with a friend.  After an initial meeting about my wishes, he presented several different designs.  They were all beautiful and I really appreciated Mike's eye for detail. After choosing and tweaking a design together, we got to work.<br><br>Mike went above and beyond by personally helping me select components for the new bathroom.  He was always available for questions and concerns I had throughout the construction process.  He often came out to the site to check that the construction was being done to his satisfaction.  The end result is the master suite I dreamed of!</p>
          <div class="row">
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal3" data-local="#myCarousel3">
                <%= image_tag("master_bathroom_walk_in_closet/fro3.jpg", {class: "showme3"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal3" data-local="#myCarousel3">
                <%= image_tag("master_bathroom_walk_in_closet/fro1.jpg", {class: "showme3"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal3" data-local="#myCarousel3">
                <%= image_tag("master_bathroom_walk_in_closet/fro4.jpg", {class: "showme3"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal3" data-local="#myCarousel3">
                <%= image_tag("master_bathroom_walk_in_closet/Deck_1.jpg", {class: "showme3"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal3" data-local="#myCarousel3">
                <%= image_tag("master_bathroom_walk_in_closet/Deck_2.jpg", {class: "showme3"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal3" data-local="#myCarousel3">
                <%= image_tag("master_bathroom_walk_in_closet/BEFORE.jpg", {class: "showme3"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal3" data-local="#myCarousel3">
                <%= image_tag("master_bathroom_walk_in_closet/AFTER.jpg", {class: "showme3"}) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="design-image">
        <div class="col-md-6">
          <div data-toggle="modal" data-target="#myModal4" data-local="#myCarousel4">
            <%= image_tag("single_family_home_addition/baldres4.jpg", {class: "showme4"}) %>
          </div>
        </div>
        <div class="col-md-6 design-title">
          <h1 class="text-muted">Single Family Home Addition</h1>
          <p class="lead">We were recently approached to help the Client expand their kitchen and eating area while providing for a mudroom adjacent from the garage entrance. The residence is a 1 story residence which overlooks a small pond. The new kitchen will increase the views of the water. One of the challenges of the project was to create the addition without making it look new. Various existing details are being replicated to help blend the new work with the old.<br><br>We are currently working on the details with the Client and hope to share some more details in the coming weeks and months.</p>
          <div class="row">
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal4" data-local="#myCarousel4">
                <%= image_tag("single_family_home_addition/baldres4.jpg", {class: "showme4"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal4" data-local="#myCarousel4">
                <%= image_tag("single_family_home_addition/existinplan.png", {class: "showme4"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal4" data-local="#myCarousel4">
                <%= image_tag("single_family_home_addition/proposedplan.png", {class: "showme4"}) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="design-image">
        <div class="col-md-6">
          <div data-toggle="modal" data-target="#myModal5" data-local="#myCarousel5">
            <%= image_tag("master_bedroom_bathroom_remodel/newres10.jpg", {class: "showme5"}) %>
          </div>
        </div>
        <div class="col-md-6 design-title">
          <h1 class="text-muted">Master Bedroom &amp; Bathroom Remodel</h1>
          <p class="lead">My husband and I are empty nesters and we were excited to remodel our 2nd level to better utilize the space now that our 3 boys are out on their own.  We knew we needed our master and hall baths updated, but we also wanted a walk-in master closet, a home-office and a private guest suite.<br><br>Working with Michael brought us results that exceeded our expectations.  Michael listened to our needs, presented options and led us to decisions that maximized the use of our space and budget.  We couldn’t be more pleased with the end result and are the envy of all our friends when we show it off. <br><br>I am pleased to recommend Michael Carney as an architect. My husband doesn’t want to hear about my next remodeling project, but I will be engaging Michael in the future for our next set of plans.<br><br>We love our new space!  Patti</p>
          <div class="row">
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal5" data-local="#myCarousel5">
                <%= image_tag("master_bedroom_bathroom_remodel/newres2.jpg", {class: "showme5"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal5" data-local="#myCarousel5">
                <%= image_tag("master_bedroom_bathroom_remodel/newres4.jpg", {class: "showme5"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal5" data-local="#myCarousel5">
                <%= image_tag("master_bedroom_bathroom_remodel/newres5.jpg", {class: "showme5"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal5" data-local="#myCarousel5">
                <%= image_tag("master_bedroom_bathroom_remodel/newres6.jpg", {class: "showme5"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal5" data-local="#myCarousel5">
                <%= image_tag("master_bedroom_bathroom_remodel/newres7.jpg", {class: "showme5"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal5" data-local="#myCarousel5">
                <%= image_tag("master_bedroom_bathroom_remodel/newres8.jpg", {class: "showme5"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal5" data-local="#myCarousel5">
                <%= image_tag("master_bedroom_bathroom_remodel/newres9.jpg", {class: "showme5"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal5" data-local="#myCarousel5">
                <%= image_tag("master_bedroom_bathroom_remodel/newres10.jpg", {class: "showme5"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal5" data-local="#myCarousel5">
                <%= image_tag("master_bedroom_bathroom_remodel/newres11.jpg", {class: "showme5"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal5" data-local="#myCarousel5">
                <%= image_tag("master_bedroom_bathroom_remodel/newres12.jpg", {class: "showme5"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal5" data-local="#myCarousel5">
                <%= image_tag("master_bedroom_bathroom_remodel/afternewres.png", {class: "showme5"}) %>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="design-thumbnail" data-toggle="modal" data-target="#myModal5" data-local="#myCarousel5">
                <%= image_tag("master_bedroom_bathroom_remodel/beforenewres.png", {class: "showme5"}) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<%= render partial: "lakehouse" %>
<%= render partial: "reitan_architects" %>
<%= render partial: "two_story_sing_family_home" %>
<%= render partial: "master_bathroom_walk_in_closet" %>
<%= render partial: "single_family_home_addition" %>



