<div class="container-fluid body-design">
  <div class="design-background">
    <div class="text-center design-title"><span class="design-frank-text">6</span>Portfolio<span class="design-frank-text">6</span></div>
  </div>
<% @designs.in_groups_of(3, false).each do |group| %>
  <div class="row">
    <% group.each do |design| %>
    <div class="col-md-4 text-center design-box">
      <div class="design-image-index">
        <%= link_to design.image, design %>
      </div>
      <div class="design-build-index">
        <%= simple_format design.build %>
      </div>
      <div>
        <%= link_to "View", design, class: "read-more"%>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
</div>

<br>
<% if policy(Design.new).create? %>
  <%= link_to 'New Design', new_design_path %>
<% end %>
<%= render partial: 'welcome/hire_me' %>

