<%= display_meta_tags site: 'Studio Carney Architecture | Welcome' %>
<div class="container-fluid">
  <div class="row">
    <div class="hero-text-3">
      <div id="carousel" class="carousel carousel-background slide carousel-fade" data-interval="10000" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner carousel-inner-background" role="listbox">
          <div class="item active picture">
            <%= image_tag("stoplight.jpg") %>
          </div> 
          <div class="item active picture">
            <%= image_tag("bridge.jpg") %>
          </div> 
          <div class="item picture">
            <%= image_tag("town-2.jpg") %> 
          </div>
          <div class="item picture">
            <%= image_tag("tallbuildilng.jpg") %> 
          </div>
          <div class="item picture">
            <%= image_tag("colosium.jpg") %> 
          </div>
          <div class="item picture">
            <%= image_tag("town.jpg") %> 
          </div>
          <div class="item picture">
            <%= image_tag("ally.jpg") %> 
          </div>
          <div class="item picture">
            <%= image_tag("town.jpg") %> 
          </div>
          <div class="item picture">
            <%= image_tag("bricks.jpg") %> 
          </div>
        </div>
      </div>
      <div class="front-display">
        <div class="text-center front-title">
          Studio Carney
        </div>
        <div class="text-center architecture-border">
          ARCHITECTURE, Inc.
        </div>
      </div>
      <div class="front-display-2">
        <div class="text-center translating-front-text ">
          "Translating the language of architecture"
        </div>
      </div>
      <div class="arrow text-center">
        <div class="glyphicon glyphicon-menu-down">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row point-description-alpha">
    <div class="point-description">
      <p class="col-md-8 col-md-offset-2 lead">We specialize in single family and multi-family residential projects, retail, corporate office and public projects including storage facilities, banks, community centers and libraries.  We believe each project should be a collaborative effort and work to include the Client in the design process. Our goal is to take your vision and apply our imagination and technical experience to help translate that into a built environment.  Studio Carney has worked on multiple residential projects located throughout the Country. They also worked on a variety of corporate projects, and were recently involved in an increasing number of commercial developments located in the Chicagoland area. Outside of Architecture.  Studio Carney currently holds an Architectural License in Illinois and Wisconsin.<br><br><%= link_to "The Studio Carney Portfolio", designs_path, class: "btn btn-default col-md-6 col-md-offset-3" %></p><br>
    </div>
  </div>
</div>

