<% @title = "Studio Carney Architecture | Welcome" %>
<meta name="description" content="<%= @seo_description = "As an architect in Palatine, Illinois, we specialize in single family and multi-family residential projects, retail, corporate office and public projects including storage facilities, banks, community centers and libraries" %>">
<meta name="keywords" content="<%= @seo_keyword = "Architect Palatine Illinois, Architect in Wisconsin, Architect in Missouri, Architect in Barrington Illinois" %>">
<div class="container-fluid">
  <div class="row">
    <div class="hero-text-3">
      <div id="carousel" class="carousel carousel-background slide carousel-fade" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner carousel-inner-background" role="listbox">
          <div class="item active picture">
            <%= image_tag("stoplight.jpg") %>
          </div> 
          <div class="item picture">
            <%= image_tag("bridge.jpg") %>
          </div> 
          <div class="item picture">
            <%= image_tag("town-2.jpg") %> 
          </div>
          <div class="item picture">
            <%= image_tag("tallbuildilng.jpg") %> 
          </div>
          <div class="item picture">
            <%= image_tag("colosium.jpg") %> 
          </div>
          <div class="item picture">
            <%= image_tag("town.jpg") %> 
          </div>
          <div class="item picture">
            <%= image_tag("ally.jpg") %> 
          </div>
          <div class="item picture">
            <%= image_tag("town.jpg") %> 
          </div>
          <div class="item picture">
            <%= image_tag("bricks.jpg") %> 
          </div>
        </div>
      </div>
      <div class="front-display">
        <div class="text-center front-title">
          Studio Carney
        </div>
        <div class="text-center architecture-border">
          ARCHITECTURE, Inc.
        </div>
      </div>
      <div class="front-display-2">
        <div class="text-center translating-front-text ">
          "Translating the language of architecture"
        </div>
      </div>
<!--       <div class="arrow text-center">
        <div class="glyphicon glyphicon-menu-down">
        </div>
      </div> -->
    </div>
  </div>
</div>

