<% @title = "Studio Carney Architecture | Contact" %>
<meta name="description" content="<%= @seo_description = "Contact us for a free consultation" %>">
<meta name="keywords" content="<%= @seo_keyword = "Find an Architect in Palatine Illinois, Find an Architect Chicago Illinois Portfolio, Find an Architect in Wisconsin Portfolio, Find an Architect in Missouri Portfolio, Find an Architect in Barrington Illinois Portfolio" %>">
<div class="container-fluid services">
  <div class="row">
    <div class="design-background">
      <%= image_tag "stoplight.jpg" %>
    </div>
  </div>
  <div class="container contact-body">
  <h1 class="text-muted">Contact us</h1>
  <hr>
  <br>
    <div class="col-md-4">
      <div class="contact-us">We look forward to hearing from you</div><br>
      <ul>
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="contact-bullets"><span class="glyphicon glyphicon-screenshot"></span>P.O. Box #2291<br><span itemprop="addressLocality" class="address">Palatine, <span itemprop="areaServed" itemscope itemtype="http://schema.org/State"><span itemprop="name">Illinois</span></span> <span itemprop="postalCode">60078</span></p>
        <div class="contact-bullets"><span class="glyphicon glyphicon-earphone"></span><span itemprop="telephone">847-701-4138</span></p>  
      </ul>
    </div>
    <div class="col-md-8 ">
      <div class="form-group">
        <%= form_for @contact do |f| %>
          <%= f.text_field :name, required: true, class: 'form-control', placeholder: "Enter your name" %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, required: true, class: 'form-control', placeholder: "Enter your email address" %>
        </div>
        <div class="form-group">
          <%= f.text_area :message, as: :text, required: true, class: 'form-control', rows: 8, placeholder: "Enter your message here" %>
        </div>
        <div class="hidden">
          <%= f.label :nickname %><br>
          <%= f.text_field :nickname, hint: "leave this field blank" %>
        </div>
          <%= f.submit "Send Message", class: "btn btn-success" %><br>
        <% end %>
        </div>
  </section>