<%= display_meta_tags site: 'Studio Carney Architecture | Contact Us' %>

<div class="container-fluid services">
  <div class="row">
    <div class="design-background">
      <%= image_tag "c7e5fed190e736fecd03fe286dfd57b3.jpg" %>
    </div>
  </div>
  <div class="container contact-body">
  <h1 class="text-muted">Contact us</h1>
  <hr>
  <br>
    <div class="col-md-4">
      <div class="contact-us">We look forward to hearing from you</div><br>
      <ul>
        <div class="contact-bullets"><span class="glyphicon glyphicon-screenshot"></span>P.O. Box #2291<br><span class="address">Palatine, IL 60078</p>
        <div class="contact-bullets"><span class="glyphicon glyphicon-earphone"></span>847-701-4138</p>  
      </ul>
    </div>
    <div class="col-md-8 ">
      <div class="form-group">
        <%= form_for @contact do |f| %>
          <%= f.text_field :name, required: true, class: 'form-control', placeholder: "Enter your name" %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, required: true, class: 'form-control', placeholder: "Enter your email address" %>
        </div>
        <div class="form-group">
          <%= f.text_area :message, as: :text, required: true, class: 'form-control', rows: 8, placeholder: "Enter your message here" %>
        </div>
        <div class="hidden">
          <%= f.label :nickname %><br>
          <%= f.text_field :nickname, hint: "leave this field blank" %>
        </div>
          <%= f.submit "Send Message", class: "btn btn-success" %><br>
        <% end %>
        </div>
  </section>