<% if policy(@design).edit? %>
<p id="notice"><%= notice %></p>

<h1>Listing Justins</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @justins.each do |justin| %>
      <tr>
        <td><%= justin.title %></td>
        <td><%= justin.body %></td>
        <td><%= link_to 'Show', justin %></td>
        <td><%= link_to 'Edit', edit_justin_path(justin) %></td>
        <td><%= link_to 'Destroy', justin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Justin', new_justin_path %>
<% end %>
