<%= form_for(@design_image_attachment) do |f| %>
  <% if @design_image_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@design_image_attachment.errors.count, "error") %> prohibited this design_image_attachment from being saved:</h2>

      <ul>
      <% @design_image_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
