<p id="notice"><%= notice %></p>

<h1>Listing Design Image Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @design_image_attachments.each do |design_image_attachment| %>
      <tr>
        <td><%= design_image_attachment.image %></td>
        <td><%= link_to 'Show', design_image_attachment %></td>
        <td><%= link_to 'Edit', edit_design_image_attachment_path(design_image_attachment) %></td>
        <td><%= link_to 'Destroy', design_image_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Design image attachment', new_design_image_attachment_path %>
