<!DOCTYPE html>
<html>
<head>
  <title>Studio Carney | Architecture </title>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Studio Carney</a>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse fixed" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/welcome/about">About</a></li>
          <li><a href="/designs">Portfolio</a></li>
          <li><a href="/service/index">Services</a></li>
          <li><a href="/contacts/new">Contact</a></li>
          <% if current_user %>
             <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
             <% end %>
        </ul>
         <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "https://www.facebook.com/StudioCarneyArchitecture/?fref=ts" do %>
              <%= fa_icon "facebook-square" %>
            <% end %></li>
            <li><%= link_to "https://www.linkedin.com/in/michael-carney-ala-148287b?authType=NAME_SEARCH&authToken=F6rJ&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A33521672%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1457651355421%2Ctas%3Amichael%20carney" do %>
              <%= fa_icon "linkedin-square" %>
            <% end %></li>
          </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


<div id="carousel" class="carousel carousel-background slide carousel-fade" data-interval="20000" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner carousel-inner-background" role="listbox">
    <div class="item active picture">
      <%= image_tag("bridge.jpg") %>
    </div> 
    <div class="item picture">
      <%= image_tag("stoplight.jpg") %> 
    </div> 
    <div class="item picture">
      <%= image_tag("studio2.jpg") %>
    </div> 
    <div class="item picture">
      <%= image_tag("building-4.jpg") %> 
    </div>
    <div class="item picture">
      <%= image_tag("roma-1.jpg") %> 
    </div>
    <div class="item picture">
      <%= image_tag("town-2.jpg") %> 
    </div>
    <div class="item picture">
      <%= image_tag("tallbuildilng.jpg") %> 
    </div>
    <div class="item picture">
      <%= image_tag("colosium.jpg") %> 
    </div>
    <div class="item picture">
      <%= image_tag("house.jpg") %> 
    </div>
    <div class="item picture">
      <%= image_tag("Florence.jpg") %> 
    </div>
    <div class="item picture">
      <%= image_tag("c7e5fed190e736fecd03fe286dfd57b3.jpg") %> 
    </div>
    <div class="item picture">
      <%= image_tag("ally.jpg") %> 
    </div>
    <div class="item picture">
      <%= image_tag("light.jpg") %>
    </div>
    <div class="item picture">
      <%= image_tag("town.jpg") %> 
    </div>
    <div class="item picture">
      <%= image_tag("844cb371a4e2731f812aa9285739e196.jpg") %> 
    </div>
    <div class="item picture">
      <%= image_tag("bricks.jpg") %> 
    </div>
  </div>
</div>
</div>

<%= yield %>
<%= render partial: 'welcome/footer' %>
</body>
</html>

<script>
var randomSlide = Math.floor(Math.random() * $('#carousel .carousel-inner div').size());

jQuery(document).ready(function($) {
$('#carousel').carousel(randomSlide);
$('#carousel').carousel('next');
});
</script>
