<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/HomeAndConstructionBusiness">
<head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We specialize in single family and multi-family residential projects, retail, corporate office and public projects including storage facilities, banks, community centers and libraries.">
    <meta name="keywords" content="Architecture Palatine Illinois, Architecture Wisconsin, Architecture Missouri, Architecture Barrington Illinois, Design, Renovation, Bath, Bedroom, Palatine, Barrington, Residential, Commercial, Retail, Living, Remodel, Addition, Green, Space Planning, Age in Place, Mobility, Accessibility, Creative, Responsive Process">
    <%= favicon_link_tag('stoplight2.jpg', rel: "icon") %>
    <%= favicon_link_tag('stoplight2.jpg', rel: "apple-touch-icon") %>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Translating the language of architecture" />
    <meta name="twitter:description" content="We specialize in single family and multi-family residential projects, retail, corporate office and public projects including storage facilities, banks, community centers and libraries." />
    <meta property="og:title" content="Translating the language of architecture" />
    <meta property="og:url" content="https://www.studiocarney.com" />
    <meta name="application-name" content="Studio Carney"/>
    <meta name="msapplication-TileColor" content="#404040"/>
    <meta name="apple-mobile-web-app-title" content="StudioCarney">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>  
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= display_meta_tags separator: "&mdash;".html_safe %>
    <meta name="robots" content="follow">
    <meta name="google" content="nositelinkssearchbox" />
</head>
<body>
    <span class="hidden hidden-sc"itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
      <div itemprop="itemOffered" itemscope itemtype="http://schema.org/Service">
        <span itemprop="name">Architecture Palatine Illinois, Architecture Barrington Illinois, Design, Renovation, Bath, Bedroom, Palatine, Barrington, Residential, Commercial, Retail, Living, Remodel, Addition, Green, Space Planning, Age in Place, Mobility, Accessibility, Creative, Responsive Process</span>
      </div>
    </span>
  <section class="container-fluid-dark">
    <nav class="navbar navbar-default navbar-fixed-top navbar-adjust">
        <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span itemprop="provider" itemscope itemtype="http://schema.org/LocalBusiness">
            <a itemprop="name" class="navbar-brand navbrand-scroll" href="/">Studio Carney</a>
          </span>
        </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse fixed" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/welcome/about">About</a></li>
            <li><a href="/designs">Portfolio</a></li>
            <li><a href="/service/index">Services</a></li>
            <li><a href="/contacts/new">Contact</a></li>
            <% if current_user %>
               <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            <% end %>
          </ul>
           <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "https://www.facebook.com/StudioCarneyArchitecture/?fref=ts" do %>
                <%= fa_icon "facebook-square" %>
              <% end %></li>
              <li><%= link_to "https://www.linkedin.com/in/michael-carney-ala-148287b?authType=NAME_SEARCH&authToken=F6rJ&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A33521672%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1457651355421%2Ctas%3Amichael%20carney" do %>
                <%= fa_icon "linkedin-square" %>
              <% end %></li>
            </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <%= yield %>
  <%= render partial: 'welcome/footer' %>
</section>
</body>
</html>

<script>
  $(window).scroll(function() {
    var scroll = $(window).scrollTop();
    var wide = $(window).width()

    if (scroll >= 150 && wide >= 768) {
      $(".navbar-default").removeClass("navbar-adjust")
      $(".navbar-brand").removeClass("navbar-adjust")
      $(".navbar-brand").removeClass("navbrand-scroll")
      $(".navbar-brand").addClass("navbrand-adjust-scroll")
    } else if (wide >= 768) {
      $(".navbar-default").addClass("navbar-adjust")
      $(".navbar-default").removeClass("navbar-adjust-scroll")
      $(".navbar-brand").removeClass("navbrand-adjust-scroll")
      $(".navbar-brand").addClass("navbrand-scroll")
    } else if (winde < 768) {
      $(".navbar-default").removeClass("navbar-adjust")
      $(".navbar-brand").removeClass("navbar-adjust")
      $(".navbar-brand").removeClass("navbrand-scroll")
      $(".navbar-brand").addClass("navbrand-adjust-scroll")
    }
  });
</script>

